@import "tailwindcss";

:root {
  --background: #f8f8f8;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Calibri, Helvetica, sans-serif;
}


/*CSS para o skeleton na parte dos cards da loja*/
.skeleton-responsive {
  height: 5rem !important;
}

@media (min-width: 768px) {
  .skeleton-responsive {
    height: 8rem !important;
  }
}

@media (min-width: 1024px) {
  .skeleton-responsive {
    height: 10rem !important;
  }
}
